apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-{{ .Service.Name.DNSCase }}
  namespace: "{{ .Namespace }}"
data:
{{- range $key, $value := .Deployment.ConfigMap }}
  {{ $key }}: "{{ $value }}"
{{- end }}
