apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Service.Name.DNSCase }}
  namespace: {{ .Namespace }}
spec:
  replicas: {{ .Replicas }}
  selector:
    matchLabels:
      app: {{ .Service.Name.DNSCase }}
  template:
    metadata:
      labels:
        app: {{ .Service.Name.DNSCase }}
        sha: {{ .Sha }}
    spec:
      containers:
        - name: {{ .Service.Name.DNSCase }}
          image: image:tag
          envFrom:
            - configMapRef:
                name: cm-{{ .Service.Name.DNSCase }}
            - secretRef:
                name: secret-{{ .Service.Name.DNSCase }}
